<p id="notice"><%= notice %></p>

<h1>Listing Job Offers</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Job title</th>
      <th>Organization name</th>
      <th>Agency sub element</th>
      <th>Salary min</th>
      <th>Salary max</th>
      <th>Salary basis</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Who may apply text</th>
      <th>Pay plan</th>
      <th>Series</th>
      <th>Grade</th>
      <th>Work schedule</th>
      <th>Work type</th>
      <th>Locations</th>
      <th>Announcement number</th>
      <th>Job summary</th>
      <th>Apply online url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_offers.each do |job_offer| %>
      <tr>
        <td><%= job_offer.document_id %></td>
        <td><%= job_offer.job_title %></td>
        <td><%= job_offer.organization_name %></td>
        <td><%= job_offer.agency_sub_element %></td>
        <td><%= job_offer.salary_min %></td>
        <td><%= job_offer.salary_max %></td>
        <td><%= job_offer.salary_basis %></td>
        <td><%= job_offer.start_date %></td>
        <td><%= job_offer.end_date %></td>
        <td><%= job_offer.who_may_apply_text %></td>
        <td><%= job_offer.pay_plan %></td>
        <td><%= job_offer.series %></td>
        <td><%= job_offer.grade %></td>
        <td><%= job_offer.work_schedule %></td>
        <td><%= job_offer.work_type %></td>
        <td><%= job_offer.locations %></td>
        <td><%= job_offer.announcement_number %></td>
        <td><%= job_offer.job_summary %></td>
        <td><%= job_offer.apply_online_url %></td>
        <td><%= link_to 'Show', job_offer %></td>
        <td><%= link_to 'Edit', edit_job_offer_path(job_offer) %></td>
        <td><%= link_to 'Destroy', job_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job offer', new_job_offer_path %>
