<p id="notice"><%= notice %></p>

<h1>Listing Job Offers</h1>
<%= form_tag job_offers_path, :method => 'get' do %>

  <div class="input-group">
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Brilliant Officer..."%>
    <span class="input-group-addon" id="sizing-addon1">Job Title</span>
  </div>
  <br />
      <%= submit_tag 'search', class: "btn btn-info btn-lg" %>
</div>
<% end %>

<h3>There are <%= @job_offers.length %> job offers</h3>
<% @job_offers.each do |job_offer| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= job_offer.job_title %> at <%= job_offer.organization_name %></div>
    <div class="panel-primary">
    <div class="panel-body">
      <ul>
        <li>Agence : <%= job_offer.agency_sub_element %> | Who may apply : <%= job_offer.who_may_apply_text %></li>
        <li>Pay plan : <%= job_offer.pay_plan %> | Job Offer : <%= job_offer.series %> | Job Offer Grade : <%= job_offer.grade %></li>
        <li>Work Schedule :<%= job_offer.work_schedule %>, Work Type : <%= job_offer.work_type %></li>
        <li>Location : <%= job_offer.locations %></li>
        <li><%= job_offer.job_summary %></li>
      </ul>
      </div>
        <div class="panel-footer">More infos</div>
      <ul>
        <li>Minimum/Maximum Salary : <%= job_offer.salary_min %> / <%= job_offer.salary_max %> </li>
        <li>Basic Salary: <%= job_offer.salary_basis %></li>
        <li>From <%= job_offer.start_date %> to <%= job_offer.end_date %></li>
        <li>Link : <%= link_to(job_offer.apply_online_url) %></li>
      </ul>
    </div>
  </div>
  <% end %>


