<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @job_offer.document_id %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @job_offer.job_title %>
</p>

<p>
  <strong>Organisation name:</strong>
  <%= @job_offer.organisation_name %>
</p>

<p>
  <strong>Agency sub element:</strong>
  <%= @job_offer.agency_sub_element %>
</p>

<p>
  <strong>Salary min:</strong>
  <%= @job_offer.salary_min %>
</p>

<p>
  <strong>Salary max:</strong>
  <%= @job_offer.salary_max %>
</p>

<p>
  <strong>Salary basis:</strong>
  <%= @job_offer.salary_basis %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @job_offer.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job_offer.end_date %>
</p>

<p>
  <strong>Who may apply text:</strong>
  <%= @job_offer.who_may_apply_text %>
</p>

<p>
  <strong>Paypla:</strong>
  <%= @job_offer.paypla %>
</p>

<p>
  <strong>Series:</strong>
  <%= @job_offer.series %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @job_offer.grade %>
</p>

<p>
  <strong>Work schedule:</strong>
  <%= @job_offer.work_schedule %>
</p>

<p>
  <strong>Worktype:</strong>
  <%= @job_offer.worktype %>
</p>

<p>
  <strong>Locations:</strong>
  <%= @job_offer.locations %>
</p>

<p>
  <strong>Annoncement number:</strong>
  <%= @job_offer.annoncement_number %>
</p>

<p>
  <strong>Job summary:</strong>
  <%= @job_offer.job_summary %>
</p>

<p>
  <strong>Apply online url:</strong>
  <%= @job_offer.apply_online_url %>
</p>

<%= link_to 'Edit', edit_job_offer_path(@job_offer) %> |
<%= link_to 'Back', job_offers_path %>
